<ngb-carousel #carousel>
  <ng-template ngbSlide>
    <img class="slide-img" src="{{SlideImg1}}" alt="Random first slide">
    <div class="carousel-caption">
      <h2>Slide 1</h2>
      <p class="slide-descrip">wqqwr</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="slide-img" src="{{SlideImg2}}"  alt="Random second slide">
    <div class="carousel-caption">
      <h2>Slide 2</h2>
      <p class="slide-descrip">qwrqwr</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="slide-img" src="{{SlideImg3}}" alt="Random third slide">
    <div class="carousel-caption">
      <h2>Promociones</h2>
      <p class="slide-descrip">wqqwq</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="icons">
  <div class="icons-item">
    <img src="{{MiPedidoImg}}" alt="">
    <p class="icon-title">Mis pedido</p>
  </div>
  <div class="icons-item">
    <img src="{{CrearPedidoImg}}" alt="">
    <p class="icon-title">Crear pedido</p>
  </div>
  <div class="icons-item">
    <img src="{{GuiaPedidoImg}}" alt="">
    <p class="icon-title">Guía de pedido</p>
  </div>
  <div class="icons-item">
    <img src="{{MiCarritoImg}}" alt="">
    <p class="icon-title">Mi carrito</p>
  </div>
</div>