<ngb-carousel #carousel>
  <ng-template ngbSlide>
    <img class="slide-img" src="https://lorempixel.com/900/500?r=4" alt="Random first slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="slide-img" src="https://lorempixel.com/900/500?r=5"  alt="Random second slide">
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img class="slide-img" src="https://lorempixel.com/900/500?r=6" alt="Random third slide">
    <div class="carousel-caption">

    </div>
  </ng-template>
</ngb-carousel>
<div class="icons">
  <div class="icons-item">
    <img src="https://cdn.pixabay.com/photo/2017/02/16/13/42/box-2071537_960_720.png" alt="">
    <p>Mis pedido</p>
  </div>
  <div class="icons-item">
    <img src="https://cdn.pixabay.com/photo/2017/05/15/23/48/survey-2316468_960_720.png" alt="">
    <p>Crear pedido</p>
  </div>
  <div class="icons-item">
    <img src="https://cdn.pixabay.com/photo/2015/09/20/16/49/location-948510_960_720.png" alt="">
    <p>Guía de pedido</p>
  </div>
  <div class="icons-item">
    <img src="https://cdn.pixabay.com/photo/2015/12/23/01/14/edit-1105049_960_720.png" alt="">
    <p>Mi carrito</p>
  </div>
</div>